---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta
			name="description"
			content="Tienda especializada en licores y cócteles premium con catálogo detallado"
		/>
		<meta
			name="keywords"
			content="licores, cocteles, bebidas, tienda de licores"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"
		></script>
	</body>
</html>
